@import "colors.scss";
@import "reset.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(238, 238, 238);
    // background-image: url('../assets/images/space.jpg');
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
}